.about-container {
    display: flex;
    min-height: calc(100vh - 100px);
}

.about-lcontainer {
    width: 420px;
    padding-inline: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--secondary);
}

.about-lcontainer h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    padding-inline: 20px;
    cursor: pointer;
}

.about-rcontainer {
    width: calc(100% - 420px);
    padding-inline: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}